
<p>
    <strong>Title:</strong>
    <%= review.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= review.body %>
</p>


<p>
  <%= button_to "Delete Review", [review.book, review],  method: :delete,  data: {

                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>

