<div class="card mb-4" >
<div class="card-body">
<h5 class="card-title">
    <strong>Topic: </strong>
    <%= review.title %>
</h5>

<p class="card-text">
    <strong>Text: </strong>
    <%= review.body %>
</p>

<%= button_to "Delete Review", [review.book, review],  method: :delete,  data: {

    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  },
  :class => "btn btn-danger stretched-link"
  %>

</div>
</div>
